.notfound{
color: #014D85;
text-align: center;
font-size: 250px;
font-weight: 600;
line-height: normal;
}
.notfound2{
color: #99C83C;
font-size: 250px;
font-weight: 600;
line-height: normal;
}


@media (max-width: 900px) {
.notfound , .notfound2{
    font-size: 100px;
}
}